
@{
    ViewData["Title"] = "Order is booked";
}

<p>Order is booked. We are picking it for transfering to delivery service. Wait sms. </p>

<p>
    <a href="@Url.Action("Index", "Home")">Return to store</a>
</p>

